@import './variables';

:export {
  alabaster: $alabaster;
  alto: $alto;
  amethystSmoke: $amethystSmoke;
  blueChalk: $blueChalk;
  christine: $christine;
  doveGray: $doveGray;
  feedbackError: $feedbackError;
  feedbackErrorLight: $feedbackErrorLight;
  feedbackInformational: $feedbackInformational;
  feedbackInformationalLight: $feedbackInformationalLight;
  feedbackSuccess: $feedbackSuccess;
  feedbackSuccessLight: $feedbackSuccessLight;
  feedbackWarning: $feedbackWarning;
  feedbackWarningLight: $feedbackWarningLight;
  frenchLilac: $frenchLilac;
  gallery: $gallery;
  macaroni: $macaroni;
  magnolia: $magnolia;
  magnoliaDark: $magnoliaDark;
  martinique: $martinique;
  moonRaker: $moonRaker;
  prelude: $prelude;
  purpleHaze: $purpleHaze;
  redCarantion: $redCarantion;
  royalPurple: $royalPurple;
  silver: $silver;
  snuff: $snuff;
  texasRose: $texasRose;
  titan: $titan;
  varden: $varden;
  westSide: $westSide;
  whisper: $whisper;
  white: $white;
  whiteLilac: $whiteLilac;
  wisteria: $wisteria;
  wisteriaLight: $wisteriaLight;
}
