$alabaster: #F8F8F8;
$alto: #E0E1EB;
$amethystSmoke: #9C96AD;
$blueChalk: #F1E8FF;
$christine: #CB6700;
$doveGray: #5F616A;
$feedbackError: #CC2C28;
$feedbackErrorLight: #FFF2F2;
$feedbackInformational: #4B66C6;
$feedbackInformationalLight: #F4F7FF;
$feedbackSuccess: #31880C;
$feedbackSuccessLight: #F5FFF4;
$feedbackWarning: #F6B334;
$feedbackWarningLight: #FFF9F0;
$frenchLilac: #DDC4EB;
$gallery: #E0E1EB;
$macaroni: #FEB366;
$magnolia: #F5F6FC;
$magnoliaDark: #F9EFFF;
$martinique: #34353F;
$moonRaker: #E2D0FA;
$prelude: #D4C5EB;
$purpleHaze: #6613D0;
$redCarantion: #F25C69;
$royalPurple: #8E44ED;
$silver: #BFC0CC;
$snuff: #DAD1E9;
$texasRose: #FFAB56;
$titan: #F2F0FF;
$varden: #FFF7E0;
$westSide: #FE8F1C;
$whisper: #FAFAFC;
$white: #FFFFFF;
$whiteLilac: #F1ECF8;
$wisteria: #5B11BA;
$wisteriaLight: #A575BF;
