$alabaster: #F8F8F8;
$alto: #D4D4D4;
$amethystSmoke: #9C96AD;
$blueChalk: #F1E8FF;
$christine: #DB660A;
$doveGray: #707070;
$frenchLilac: #DDC4EB;
$gallery: #F1EFEF;
$macaroni: #FFBF7D;
$magnolia: #FAF6FF;
$magnoliaDark: #F9EFFF;
$martinique: #2E264D;
$moonRaker: #E2DAF8;
$prelude: #D4C5EB;
$purpleHaze: #5C068C;
$redCarantion: #F25C69;
$royalPurple: #8345A5;
$silver: #B8B8B8;
$snuff: #DAD1E9;
$texasRose: #FFAB56;
$titan: #F2F0FF;
$varden: #FFF7E0;
$westSide: #FF8F1C;
$whisper: #FAFAFC;
$white: #FFFFFF;
$whiteLilac: #F1ECF8;
$wisteria: #9F6CBB;
$wisteriaLight: #A575BF;
