$redCarantion: #F25C69;
$Orange: #FF8F1C;
$Martinique: #2E264D;
$Purple:#5C068C;
$Alto: #D4D4D4;
$Gallery: #F1EFEF;
$Wisteria: #9F6CBB;
$MoonRaker: #E2DAF8;
$Magnolia: #FAF6FF;
$RoyalPurple: #8345A5;
$TexasRose: #FFAB56;
$BlueChalk: #F9EFFF;
$Silver: #B8B8B8;


$moonRaker: #E2DAF8;
$wisteria: #9F6CBB;
$wisteriaLight: #A575BF;
$martinique: #2E264D;
$silver: #B8B8B8;
$magnolia: #FAF6FF;
$gallery: #F1EFEF;
$purpleHaze: #5C068C;
$doveGray: #707070;
$prelude: #D4C5EB;
$westSide: #FF8F1C;
$varden: #FFF7E0;
$amethystSmoke: #9C96AD;
$titan: #F2F0FF;
$whisper: #FAFAFC;
