$largeLabelTop: 13px !default;
$smallLabelTop: 6px !default;

$largeActiveLabelTop: 10.5px !default;
$smallActiveLabelTop: 9.5px !default;

$defaultIconSize: 18px !default;

$largeIconSize: 20px !default;
$smallIconSize: 16px !default;

$defaultFontSize: 0.923rem;
$largeFontSize: 1.077rem;

.defaultText {
  font-family: Rubik;
  font-size: $defaultFontSize;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

[class*="__input"] {
  @extend .defaultText;
}

[class*="__input"][class*="--large"] {
  font-size: $largeFontSize;
}

::v-deep {
  .v-input input {
    color: $martinique;
  }
  .v-input__control, .v-input__slot {
    min-height: 25px !important;
  }
  [class*="--allowHeightGrow"] {
    .v-input__control .v-input__slot {
      min-height: var(--minHeight) !important;
      height: unset !important;
    }
  }
  .v-text-field--outlined {
    border-radius: 5px;
    
    fieldset {
      border-width: 1px;
    }
  }
  .v-label {
    color: $silver;
    @extend .defaultText;
  }
  .v-input:not(.v-input--is-focused) .v-label--active {
    color: $doveGray;
  }
  .v-input .v-input__control .v-input__slot {
    .v-input__append-inner {
      margin: auto;
    }
  }
  .v-icon, .v-input__icon--append {
    height: $defaultIconSize;
    min-width: $defaultIconSize;
    width: $defaultIconSize;
    font-size: $defaultIconSize;
  }
  .v-chip__close {
    font-size: 16px !important;
  }
  .v-chip__content {
    font-size: $defaultFontSize;
  }
  [class*="--large"] {
    .v-label {
      top: $largeLabelTop;
      font-size: $largeFontSize;
    }
    .v-label--active {
      top: $largeActiveLabelTop;
    }
    .v-icon, .v-input__icon--append {
      height: $largeIconSize;
      min-width: $largeIconSize;
      width: $largeIconSize;
      font-size: $largeIconSize;
    }
    .v-chip__content {
      font-size: $largeFontSize;
    }
  }
  [class*="--small"] {
    .v-label {
      top: $smallLabelTop;
    }
    .v-label--active {
      top: $smallActiveLabelTop;
    }
    .v-icon, .v-input__icon--append {
      height: $smallIconSize;
      min-width: $smallIconSize;
      width: $smallIconSize;
      font-size: $smallIconSize;
    }
  }
  [class*="__input"][class*="--disabled"] {
    .v-input__slot {
        background-color: $gallery;
    }
  }
  [class*="--dropdownIcon"] {
    .v-input__icon .v-icon::before {
      content: "\F0140";
      color: $wisteria;
      font-size: 18px;
    }
  }
}
