$redCarantion: #F25C69;
$Orange: #FF8F1C;
$Martinique: #2E264D;
$Purple:#5C068C;
$Alto: #D4D4D4;
$Gallery: #F1EFEF;
$Wisteria: #9F6CBB;
$MoonRaker: #E2DAF8;
$Magnolia: #FAF6FF;
$RoyalPurple: #8345A5;
$TexasRose: #FFAB56;
$BlueChalk: #F9EFFF;
$Silver: #B8B8B8;
